<!-- Slideshow container -->
  <div [style.height.px]="manager.config.height" [style.width.px]="manager.width" class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="fade" style="height: 100%; width:100%">
      <img style="height: 100%; width:100%" [src]="manager.currentSlide">
    </div>

    <!-- Next and previous buttons -->
    <ng-container *ngIf="manager.config.type === 'buttons'">
      <a *ngIf="manager.canPrevious" class="prev" (click)="manager.onTransition(-1)">&#10094;</a>
      <a *ngIf="manager.canNext" class="next" (click)="manager.onTransition(1)">&#10095;</a>
    </ng-container>

    <!-- The dots/circles -->
    <div *ngIf="manager.config.type === 'dots'" class="dots-container">
      <ng-container *ngFor="let button of manager.dotButtons, let i = index">
        <span class="dot" [ngClass]="button? 'active': ''" (click)="manager.onTransitionToSlide(i)"></span>
      </ng-container>
    </div>
  </div>
