<div style="display: flex;">
  <app-ui-text-button (clicked)="showDem()">Yeet</app-ui-text-button>
</div>

<app-ui-icon-button icon="fa-quora" buttonColor="#a3189f" iconColor="#e6e4e3" [size]="60" (clicked)="showDem()"></app-ui-icon-button>

<div style="display: flex;">
  <app-ui-icon-text-button [fontAndIconSize]="60" iconColor="#bf229b" textColor="#14a81c" (clicked)="showDem()">Yeet</app-ui-icon-text-button>
</div>

<app-ui-icon [size]="50"></app-ui-icon>

<div style="height: 600px; width: 600px; background-color: blueviolet; padding: 50px; display: flex; gap: 20px;">
  <app-ui-hover [morphism]="true">
    <div style="width: 100%; height: 100%;">
      <h1>Yeet</h1>
      <h2>sdfdsf</h2>
    </div>
  </app-ui-hover>
  <app-ui-hover [morphism]="true">
    <div style="width: 100%; height: 100%;">
      <h1>Yeet</h1>
      <h2>sdfdsf</h2>
    </div>
  </app-ui-hover>
  <app-ui-hover>
    <div style="width: 100%; height: 100%; background-color: brown;">
      <h1>Yeet</h1>
      <h2>sdfdsf</h2>
    </div>
  </app-ui-hover>
</div>

<h2>Spinners</h2>
<div style="height: 100px;">
  <app-ui-spinner [type]="spinCircle" color="#3cd2f0" ></app-ui-spinner>
</div>
<div style="height: 100px;">
  <app-ui-spinner [type]="spinSquareFlip" color="#3cd2f0"></app-ui-spinner>
</div>
<div style="height: 100px;">
  <!-- this spinenr cannot bind to a color, you have to set it in the CSS -->
  <app-ui-spinner [type]="spindotCircle" color="#3cd2f0"></app-ui-spinner>
</div>
<div style="height: 100px;">
  <app-ui-spinner [type]="spinWave" color="#3cd2f0"></app-ui-spinner>
</div>
<div style="height: 100px;">
  <app-ui-spinner [type]="spinCubeGrid" color="#3cd2f0"></app-ui-spinner>
</div>
<div style="height: 100px;">
  <app-ui-spinner [type]="spinDot" color="#3cd2f0"></app-ui-spinner>
</div>
<div style="height: 100px;">
  <!-- this spinner cannot bind to a color, you have to set it in the CSS -->
  <app-ui-spinner [type]="spinfoldingCube" color="#3cd2f0"></app-ui-spinner>
</div>

<h2>Carousels</h2>
<app-carousel [manager]="carouselManager1"></app-carousel>
<br>
<app-carousel [manager]="carouselManager2"></app-carousel>




<!-- <app-ui-date [date]="date" ></app-ui-date> -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

