<div style="display: flex;">
  <app-ui-text-button (clicked)="showDem()">Yeet</app-ui-text-button>
</div>

<app-ui-icon-button icon="fa-quora" buttonColor="#a3189f" iconColor="#e6e4e3" [size]="60" (clicked)="showDem()"></app-ui-icon-button>

<div style="display: flex;">
  <app-ui-icon-text-button [fontAndIconSize]="60" iconColor="#bf229b" textColor="#14a81c" (clicked)="showDem()">Yeet</app-ui-icon-text-button>
</div>

<app-ui-icon [size]="50"></app-ui-icon>

<div style="height: 600px; width: 600px; background-color: blueviolet;">
  <app-ui-hover [morphism]="true">
    <div style="width: 100%; height: 100%;">
      <h1>Yeet</h1>
      <h2>sdfdsf</h2>
    </div>
  </app-ui-hover>
</div>

<div *ngIf="show" >sdfsdfdsf</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

